<h2><%= current_user.username %>'s Notebooks</h2>
<% @notebooks.each do |notebook| %>
	<h3>Notebook</h3>
	<p>
		<%= link_to notebook.name, notebook %>
		<br>
		<%= link_to notebook.description, notebook %>
	</p>
<% end %>

