<h2><%= current_user.username %>'s Notebooks</h2>
<% @notebooks.each do |notebook| %>
  <div class="note-index">
  	<h3>+++++++++++</h3>
  	<p>
  		<h4><%= link_to notebook.name, notebook %></h4>
  		<%= link_to notebook.description, notebook %>
  	</p>
    <%= link_to "New Note", new_notebook_note_path(notebook),:class => "btn btn-large btn-info"  %>
    <h3>+++++++++++</h3>
  </div>
<% end %>

