
<% if @notebook.notes.present? %>
	<h2>Notes</h2>
	<% @notes.each do |note| %>
		<p>
			Note title: <%= link_to note.title, note %>
			<br>
			Note Content: <%= link_to note.body, note %>
		</p>
	<% end %>
		<%= link_to "New Note", new_notebook_note_path(notebook),:class => "btn btn-large btn-info"  %>
<% else %>
	<h2>This Notebook has no notes</h2>
	<%= link_to "New Note", new_notebook_note_path(@notebook),:class => "btn btn-large btn-info"  %>
<% end %>