
<% if @notebook.notes.present? %>
	<h2>Notes</h2>
	<%= link_to "New Note", new_notebook_note_path(@notebook),:class => "btn btn-large btn-info" %>
	<br>
	<% @notebook.notes.each do |note| %>
	<div class="note-index">
		<h3>+++++++++++</h3>
				<h4><%= link_to note.title, notebook_note_path(@notebook, note) %></h4>
				<p><%= link_to truncate(note.body, :length => 20), notebook_note_path(@notebook, note) %>
			</p>
		<h3>+++++++++++</h3>
	</div>
	<% end %>
<% else %>
	<h2>This Notebook has no notes</h2>
	<%= link_to "New Note", new_notebook_note_path(@notebook),:class => "btn btn-large btn-info"  %>
<% end %>